{% load bootstrap_customizer %}<!doctype html>
<html>
    <head>
        <title>Link List</title>
        <style lang="css">{% bootstrap_theme_css_above_the_fold %}</style>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% bootstrap_theme_css_below_the_fold_url %}">
        <div>Deleting: {{ group.pk }} {{ group.group_name }}</div>
        <div>Are you sure you want to delete this group?</div>
        <div><b><i>Caution:</i> This will delete any links in this group.</b></div>
        <div><a href="{% url 'links:deletegroupconfirm' group.pk %}" class="btn btn-danger">Yes</a> <a href="{% url 'links:editlist' %}" class="btn btn-success">No</a>

    </body>
</html>