{% load bootstrap_customizer %}<!doctype html>
<html>
    <head>
        <title>Link List</title>
        <style lang="css">{% bootstrap_theme_css_above_the_fold %}</style>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% bootstrap_theme_css_below_the_fold_url %}">
        <div>Deleting: {{ link.pk }} {{ link.text }} {{ link.url }}</div>
        <div>Are you sure you want to delete this link?</div>
        <div><a href="{% url 'links:deletelinkconfirm' link.pk %}" class="btn btn-danger">Yes</a> <a href="{% url 'links:editlist' %}" class="btn btn-success">No</a>

    </body>
</html>