{% load bootstrap_customizer %}<!doctype html>
<html>
    <head>
        <title>Link List</title>
        <style lang="css">{% bootstrap_theme_css_above_the_fold %}</style>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% bootstrap_theme_css_below_the_fold_url %}">
        <div>
            <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {{ link_form.as_p }} 
                <button type="submit" name="add_link" class="btn btn-outline-primary">Add Link</button> 
            </form> 
        </div>
        <div>
            <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {{ group_form.as_p }} 
                <button type="submit" name="add_group" class="btn btn-outline-primary">Add Group</button> 
            </form> 
        </div>
        {% for group in groups_list %}
        <ul>{{ group.group_name }}  
            <a href="{% url 'links:movegroupup' group.pk %}" class="btn btn-outline-primary">Move Group Up</a>
            <a href="{% url 'links:movegroupdown' group.pk %}" class="btn btn-primary">Move Group Down</a>
            <a href="{% url 'links:delete_group' group.pk %}" class="btn btn-warning">Delete Group</a>
            {% for link in group.link_set.all %}
                <li><a href="{{ link.url }}">{{ link.text }}</a> 
                    <a href="{% url 'links:movelinkup' link.pk %}" class="btn btn-outline-primary">Move Link Up</a>
                    <a href="{% url 'links:movelinkdown' link.pk %}" class="btn btn-primary">Move Link Down</a>
                    <a href="{% url 'links:delete_link' link.pk %}" class="btn btn-warning">Delete Link</a> 
                </li>
            {% endfor %}
        </ul>
        {% endfor %}

        <a href="{% url 'links:index' %}">Index</a><br/>
        <a href="{% url 'admin:index' %}">Admin</a><br/>
        <a href="{% url 'logout' %}">Log Out</a><br/>
        <a href="{% url 'password_change' %}">Change Password</a>
    </body>
</html>