{% load bootstrap_customizer %}<!doctype html>
<html>
    <head>
        <title>Link List</title>
        <style lang="css">{% bootstrap_theme_css_above_the_fold %}</style>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% bootstrap_theme_css_below_the_fold_url %}">
        {% for group in groups_list %}
        <ul class="list-unstyled"><div class="lead">{{ group.group_name }}</div>
            {% for link in group.link_set.all %}
                <li><img src="{{ link.favicon }}"/>&nbsp;<a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
        <a href="{% url 'links:editlist' %}">Edit List</a>
        <br/>
        <a href="{% url 'admin:index' %}">Admin</a>
    </body>
</html>